.buttonStyle{
    float: right;
    margin: 10px 5px;
    cursor: pointer;
    background-color: white;
    outline: none;
    letter-spacing: 2px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    border: 1px solid #ADADAD;
    border-radius: 40px;
    transition: 0.4s linear;
}

.buttonStyle:hover{
    color: white;
    background-color: #6ad6f1;
}
