.search1 {
    display: flex;
}

.searchClassFalse{
    border: none;
    outline: none;
    text-decoration: none;
    width: 0;
    transition: width 0.2s ease-in;
}

.searchClassFalse.active{ 
    width: 120px;
}

.search1 img {
    margin: 0 5px;
    cursor: pointer;
}
